# Credenciales de autenticación para Wise CX

WISE_API_URL=
WISE_USER=

#x-api-key

WISE_AUTH_TOKEN=
WISE_TEMPLATE_ID_RECORDATORIO_BIENCO=
WISE_TEMPLATE_ID_RECORDATORIO_URIBIENES=
WISE_TEMPLATE_ID_RECORDATORIO_LAS_VEGAS=
WISE_TEMPLATE_ID_ENCUESTA_BIENCO=
WISE_TEMPLATE_ID_ENCUESTA_URIBIENES=
WISE_TEMPLATE_ID_ENCUESTA_LAS_VEGAS=
WISE_TEMPLATE_ID_REPORTE_BIENCO=
WISE_TEMPLATE_ID_REPORTE_URIBIENES=
WISE_TEMPLATE_ID_REPORTE_LAS_VEGAS=

# URLs de las APIs de Domus
DOMUS_CRM_BASE_URL=
DOMUS_OWNERS_URL=

# --- Claves de API por Inmobiliaria ---

# --- BIENCO ---

DOMUS_KEY_OWNERS_BIENCO=
DOMUS_API_KEY_CRM_BIENCO=

# --- URIBIENES ---

DOMUS_KEY_OWNERS_URIBIENES=
DOMUS_API_KEY_CRM_URIBIENES=

# --- LAS VEGAS ---

DOMUS_KEY_OWNERS_LAS_VEGAS=
DOMUS_API_KEY_CRM_LAS_VEGAS=

# ... otras variables

APPOINTMENT_TYPE_IDS_BIENCO=
APPOINTMENT_TYPE_IDS_URIBIENES=
APPOINTMENT_TYPE_IDS_LAS_VEGAS=

# Grupo para Recordatorios (todas las inmobiliarias)

WISE_GROUP_ID_RECORDATORIO=

# Grupos para Encuestas (por inmobiliaria)

WISE_GROUP_ID_ENCUESTA_BIENCO=
WISE_GROUP_ID_ENCUESTA_URIBIENES=
WISE_GROUP_ID_ENCUESTA_LAS_VEGAS=



# IDs de usuario para los casos (por inmobiliaria)

WISE_USER_ID_BIENCO=
WISE_USER_ID_URIBIENES=
WISE_USER_ID_LAS_VEGAS=


#Variables de recordatorio de fidelización

# Tipos de cita por inmobiliaria

APPOINTMENT_TYPE_IDS_FIDELIZATION_BIENCO=
APPOINTMENT_TYPE_IDS_FIDELIZATION_URIBIENES=
APPOINTMENT_TYPE_IDS_FIDELIZATION_LAS_VEGAS=

# Template para Recordatorio

WISE_TEMPLATE_ID_FIDELIZATION=

# IDs de grupo para los casos

WISE_GROUP_ID_FIDELIZATION=

# IDs de usuario para los casos

WISE_USER_ID_FIDELIZATION=